{% extends 'layout/base.html' %}


{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    .c-align{
        text-align: center;
    }
    .c-font{
        font-family: Monserrat, sans-serif;
    }
    .bold{
        font-weight: 500;
    }
</style>
    
{% endblock css %}
    

{% block content %}
<h1 class="c-align c-font py-5 bold" >Seven Wonders of the World</h1>
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
      {% for items in blogs %}
      <div class="col">
        <div class="card shadow-sm">
            <img class="img-fluid" src="{{items.image.url}}" alt="">
          <div class="card-body">
              <h3 class="c=align c-font">{{items.title}}</h3>
            <p class="card-text c-font">{{items.description|truncatechars:500}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'detailed_blog' items.id %}"><button type="button" class="c-font btn btn-sm btn-outline-secondary">View</button></a>
              </div>
              <small class="c-font text-muted">{{items.date}}</small>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="alert alert-warning text-center" role="alert">
        <h4 class="alert-heading">No Blogs found!</h4>
    </div>
      {% endfor %}
          
    </div>
  </div>
{% endblock content %}